@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Safa Demo</h1>
    <p>This demonstration has been created by Mostefai Mohammed Amine</p>
</div>
